:not(main-nav) {
  font-family: 'Roboto', sans-serif;
}

main {
  margin: 2vw;
}

h2 {
  font-weight: bolder;
  margin: 0;
}

@media only screen and (min-width: 640px) {
  body {
    font-size: 150%;
  }
}

a {
  text-decoration: none;
  color: gray;
}
